@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color: #0000ff;
   
    --color-dark: #1f1fff;
    --text-grey: #8390A2;
}
a{text-decoration: none;}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: azure;
    width: 100%;
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;

}
.logo{
    text-decoration: none;
    color: var(--main-color);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.8em;
}
.navigation a{
    text-decoration: none;
    color: var(--main-color);
    font-weight: 400;
    font-size: 1.1em;
    padding-left: 30px;

}
.navigation a:hover{
    color: var(--color-dark);
    font-weight: 400;
    font-size: 1.1em;
    padding-left: 30px;

}

.main{
    width: 100%;
    min-height: 100vh;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    background: url(img/graduation.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 200px;
}
.main h2{
    color: #ffffff;
    font-size: 3.0em;
    font-weight: 500;
    
}
.main h2 span{
    display: inline-block;
    margin-top: 3px;
    color: var(--main-color);
    font-size: 0.5em;
    font-weight: 600;

}
.main-btn{
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(19, 3, 251);
    font-size: 1.1em;
    font-weight: 600;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 20px;
    transition: 0.5s ease;

}
.main-btn:hover{
    background-color: var(--color-dark);
    transform: scale(1.1);
}
.social-icons a{
    color: #ffffff;
    font-size: 1.7em;
    padding-right: 10px;
}


.picture{
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;

}
.logof{
    width: 50vh;
    height: 50vh;
    margin: 30vh 15vh;
}
.vertical-line{
    border-left: 2px solid #fff;
    border-radius: 20px;
    display: inline-block;
    height: 35vh;
    margin: 37vh 1vh;
  }
.apropos h1{
    margin: 30vh 30vh 1vh 5vh;
    color: #ffffff;
    text-align:justify;  
    text-justify:inter-word;
}









.title{
    display: flex;
    justify-content: center;
    color: var(--main-color);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 20px;

}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}
.card{
   background-color: white;
   width: 21.25em;
   box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
   border-radius: 10px;
   padding: 15px;
   margin: 15px;

}
.card:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
 
 }
.icon{
    color: var(#0000ff);
    font-size: 4em;
    text-align: center;
    
}
.info{
    text-align: center;
}
.info h3{
    color: var(--color-dark);
    font-size: 1.2em ;
    font-weight:700 ;
    margin: 10px;
}
.footer{
    background-color: black;
    color: #ffffff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    border-top: 5px solid white;
    opacity: 0.9;
}
.footer-title{

    display: flex;
    justify-content: space-between;
    padding: 2em;

}
